{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Burn by Cal</title>
  </head>
  <style>
      body{
              border-top: solid 5px #999;

background:url({% static 'cal.jpg' %}) no-repeat center center fixed ;
  background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      }

  </style>
  <body>


  <div align="center" style="font-family: 'French Script MT';font-size: 70px;color: white">
      Burn Your Fat
  </div>
<div align="center">
    {% include 'navs.html' %}
</div>
<br><br>

<table align="center" >
    <tr>
        <th style="color: yellow">

        <h6 style="color: yellow">{{ food }}</h6><br><br>
            {% if food == 'Rice' %}
        <img src="{% static 'download (7).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
         {% if food == 'Potato' %}
        <img src="{% static 'download (6).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'Brinjal' %}
        <img src="{% static 'download (8).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'Ladyfinger' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'beetroot' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'capsicum' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'mushrooms' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'brocoli' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'cabbage' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'carrot' %}
        <img src="{% static '' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'cauliflower' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'cucumber' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'garlic' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'onion' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'pumpkin' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
        {% if food == 'string beans or green beans' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'apple' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
         {% if food == 'apricot' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
         {% if food == 'avocodo' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'banana' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'blackberry' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'cherry' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'grapes' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'green olive' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'kiwifruit' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'lemon' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'lime' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'mango' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'orange' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'papayya' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'peach' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'pineapple' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'plum' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'strawberry' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'tomatto' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'corn' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
            {% if food == 'sweet potato' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}
         {% if food == 'watermelon' %}
        <img src="{% static 'download (12).jpg' %}"><br><br>
        Protiens = {{ protins }}<br><br>
        Carbos = {{ carbs }}<br><br>
            {% endif %}








        </th>
    </tr>
</table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>



